/* This is My Style Page for my Main.html */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/*Navigation Bar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E3A8A; /* Blue */
    padding: 15px 50px;
}

.logo {
    color: white;
    font-size: 1.7rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-links a {
    color:white;
    text-decoration: none;
    transition: color, background-color 0.3s;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-links a:hover, .nav-links a.active {
    color: #EF4444; /* Red */
}

.nav-links a:hover {
    background-color: white;
}


/*Main Page*/
.hero {
    background: url('/Images/AssortedCorndogs.jpg') center/cover no-repeat;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}
.hero h1 {
    background-color: rgba(0,0,0,0.5);
}
.hero-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 12px;
}


.btn {   
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #EF4444;
    color: white;
    font-weight: bolder;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #B91C1C;
}

/*Goal Section*/
.goal {
    text-align: center;
    padding: 50px 20px;
    background-color: #F9FAFB;
}

.goal h2 {
    color: #1E3A8A;
    margin-bottom: 10px;
}

.goal {
  text-align: center;
  padding: 50px 20px;
  background-color: #F9FAFB;
}

.goal h2 {
  color: #1E3A8A;
  margin-bottom: 10px;
}


/*Best Seller Section*/
.best-seller {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  flex-wrap: wrap;
}

.best-seller .text {
  flex: 1;
  padding: 20px;
  color: #1E3A8A;
}

.best-seller .image {
  flex: 1;
  text-align: center;
}

.best-seller img {
  max-width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 25px rgba(0,0,0,1);
}

footer {
  background-color: #1E3A8A;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}