/* Menu Css*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/*Navigation Bar*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E3A8A; /* Blue */
    padding: 15px 50px;
}

.logo {
    color: white;
    font-size:1.5rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-links a {
    color:white;
    text-decoration: none;
    transition: color, background-color 0.3s;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-links a:hover, .nav-links a.active {
    color: #EF4444; /* Red */
}

.nav-links a:hover {
    background-color: white;
}


.logo {
    color: white;
    font-size: 1.7rem;
    font-weight: bold;
}

.nav-links {
    display: flex;
    gap: 25px;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
    color: #EF4444; 
}

.menu-header {
    text-align: center;
    padding: 60px 20px 20px;
    background-color: #F9FAFB;
}

.menu-header h1 {
    color: #1E3A8A;
    font-size: 2.4rem;
}

.menu-header p {
    margin-top: 10px;
    color: #555;
    font-size: 1.1rem;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 50px;
    background-color: white;
}

.menu-item {
    background-color: #F4F4F4;
    border-radius: 12px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.menu-item:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 16px rgba(0,0,0,0.15);
    background-color: #1E3A8A50;
}

.menu-item img {
    width: 100%;
    height: 200px;
    object-fit: scale-down;
    border-radius: 12px;
}

.menu-item h3 {
    margin-top: 12px;
    color: #1E3A8A;
}

.menu-item p {
    color: #555;
    margin: 10px 0;
}

.price {
    margin-top: 5px;
    display: inline-block;
    font-size: 1.1rem;
    color: #EF4444;
    font-weight: bold;
}

footer {
  background-color: #1E3A8A;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}