  textarea {
    max-width: 295px;
    max-height: 300px;
    min-width: 295px;
    min-height: 50px;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E3A8A; /* Blue */
    padding: 15px 50px;
}

.logo {
    color: white;
    font-size:1.5rem;
    font-weight: bold;
}

/*Navigation Bar*/
.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-links a {
    color:white;
    text-decoration: none;
    transition: color, background-color 0.3s;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-links a:hover, .nav-links a.active {
    color: #EF4444; /* Red */
}

.nav-links a:hover {
    background-color: white;
}