* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

h1 {
    color: #1E3A8A;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

footer {
    background-color: #1E3A8A;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E3A8A;
    /* Blue */
    padding: 15px 50px;
}

.logo {
    color: white;
    font-size: 1.7rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: color, background-color 0.3s;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 5px;
}

.nav-links a:hover,
.nav-links a.active {
    color: #EF4444;
    /* Red */
    font-weight: bold;
}

.nav-links a:hover {
    background-color: white;
    font-weight: bold;
}

button:hover {
    background-color: #c53030;
    transform: translateY(-2px);
}

a {
    text-decoration: none;
    color: white;
}

button {
    width: 100%;
    margin-top: 25px;
    padding: 14px;
    background-color: #EF4444;
    /* Red */
    color: white;
    font-size: 1.1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}


/*Mobile Dimensions*/

@media (max-width: 760px) {

    /* Navigation Bar*/

    .navbar {
        flex-direction: column;
        gap: 10px;
        padding: 10px 0;
        text-align: center;
    }

    .nav-links {
        gap: 8px;
    }

    .nav-links li a {
        font-size: 1rem;
        padding: 8px 12px;
    }

    .logo {
        font-size: 1.6rem;
    }
}

    @media (max-width: 500px) {

    /* Navigation Bar*/

    .navbar {
        flex-direction: column;
        gap: 10px;
        padding: 10px 0;
        text-align: center;
    }

    .nav-links {
        flex-direction: column;
        gap: 8px;
    }

    .nav-links li a {
        font-size: 1rem;
        padding: 8px 12px;
    }

    .logo {
        font-size: 1.6rem;
    }
}