* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
/* Navigation Bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E3A8A; /* Blue */
    padding: 15px 50px;
}

.logo {
    color: white;
    font-size:1.7rem;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-links a {
    color:white;
    text-decoration: none;
    transition: color, background-color 0.3s;
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-links a:hover, .nav-links a.active {
    color: #EF4444; /* Red */
}

.nav-links a:hover {
    background-color: white;
}

/* Form */
body {
  font-family: Arial, sans-serif;
  background-color: #F7F9FC;
  margin: 0;
  padding: 0;
}

form {
  max-width: 600px;
  margin: 60px auto;
  padding: 30px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

form h2 {
  text-align: center;
  color: #1E3A8A;
  margin-bottom: 25px;
}

label {
  display: block;
  margin-top: 15px;
  font-size: 1rem;
  color: #1E3A8A; 
  font-weight: bold;
}

 textarea {
    height: 150px;
    min-height: 100px;
    max-height: 200px;
    resize: vertical;
  }
input,
textarea {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  border-radius: 8px;
  border: 1px solid #CCC;
  font-size: 1rem;
  background-color: #F9FAFB;
  transition: border 0.3s, box-shadow 0.3s;
}

input:focus,
textarea:focus {
  border: 1px solid #1E3A8A;
  box-shadow: 0 0 8px rgba(30, 58, 138, 0.4);
  outline: none;
}

button:hover {
  background-color: #c53030;
  transform: translateY(-2px);
}

button {
  width: 100%;
  margin-top: 25px;
  padding: 14px;
  background-color: #EF4444; /* Red */
  color: white;
  font-size: 1.1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

/* Resize for Phones*/
@media (max-width: 480px) {
  form {
    margin: 30px 15px;
    padding: 20px;
  }

  button {
    font-size: 1rem;
  }
}

footer {
  background-color: #1E3A8A;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 40px;
}